{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
    .tennis-racket-balls-image {
        background-image: url("{% static 'images\tennis-racket-balls.webp' %}");
    }

    .tennis-match-image {
        background-image: url("{% static 'images\tennis-match.webp' %}");
    }

    .grandslam-image {
        background-image: url("{% static 'images\grandslam-image.webp' %}");
    }

    .tennis-interview-image {
        background-image: url("{% static 'images\tennis-interview.webp' %}");
    }
</style>
{% endblock %}

{% block extra_title %}Home{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="white-text"><strong>GAME</strong> <i>SET</i></h1>
        </div>
        <div class="col-12">
            <h2 class="white-text">Your hub for all things tennis</h2>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2 justify-content-center">
            <p class="white-text">Welcome to <strong>GAME</strong> <i>SET</i>, the paradise for tennis lovers. If you're
                looking for gear, waning to catch up on professional tournaments, searching for a court, or just want to
                see what's happening in the tennis world, you're in the right place!</p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
            <a class="big-button-links" href="{% url 'shop' %}">
                <div
                    class="big-button-border mb-2 home-page-button d-flex flex-column justify-content-center big-button-border-image tennis-racket-balls-image">
                    <i class="fa-solid fa-shop pt-3 white-text"></i>
                    <h3 class="white-text">SHOP</h3>
                    <p class="white-text large-p">Get all your tennis needs from our fully stocked shop!</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <a class="big-button-links" href="#">
                <div
                    class="big-button-border mb-2 home-page-button d-flex flex-column justify-content-center big-button-border-image tennis-match-image">
                    <i class="fa-solid fa-person-running pt-3 white-text"></i>
                    <h3 class="white-text">PLAY</h3>
                    <p class="white-text large-p">Book a court or a coach. Get out there and play!</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <a class="big-button-links" href="{% url 'match' %}">
                <div
                    class="big-button-border mb-2 home-page-button d-flex flex-column justify-content-center big-button-border-image grandslam-image">
                    <i class="fa-solid fa-trophy pt-3 white-text"></i>
                    <h3 class="white-text">MATCH</h3>
                    <p class="white-text large-p">Review the latest tournaments on both WTA and the ATP tour!</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <a class="big-button-links" href="#">
                <div
                    class="big-button-border mb-2 home-page-button d-flex flex-column justify-content-center big-button-border-image tennis-interview-image">
                    <i class="fa-solid fa-newspaper pt-3 white-text"></i>
                    <h3 class="white-text">NEWS</h3>
                    <p class="white-text large-p">Keep up to date with everything happening in the tennis world!</p>
                </div>
            </a>
        </div>
    </div>
</div>
<hr class="mb-0">
<div class="container-fluid white-background w-100 pt-4 pb-2">
    <div class="row text-center">
        <div class="col-12">
            <h4>Your feedback</h4>
            <p>We always love to hear back from all our users. Give us your feedback below, whether its:</p>
            <ul class="feedback-list">
                <li>What you think needs improving on the site</li>
                <li>Including more products in the shop</li>
                <li>Additions to make the site event better</li>
            </ul>
        </div>
    </div>
    <form id="feedback-form" method="POST" class="pb-4">
        {% csrf_token %}
        <div class="row justify-content-center">
            {% csrf_token %}
            <div class="col-12 col-lg-3">
                {{ feedback_form.name | as_crispy_field }}
            </div>
            <div class="col-12 col-lg-3">
                {{ feedback_form.email | as_crispy_field }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                {{ feedback_form.message | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-lg-3">
                <button type="submit" class="small-button white-text"><strong>SUBMIT</strong></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}