{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block extra_title %}{{ username }}'s Profile{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h1>{{ username }}' PROFILE</h1>
        </div>
        <div class="col-12">
            <h2>View your details, past orders from the SHOP and BOOK hub, and your stats</h2>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h3>YOUR STATS</h3>
        </div>
        <div class="col-12 col-md-4">
            <h4>YEARS PLAYING TENNIS</h4>
            <div id="years-playing-info">
                <p class="large-p">
                    {% if profile.years_playing %}
                    {{ profile.get_years_playing_display }}
                    {% else %}
                    No info give
                    {% endif %}
                </p>
                <button id="years-playing-form-show" class="stats-update-button" type="button">
                    UPDATE YEARS PLAYING</button>
            </div>
            <div id="years-playing-form-container" class="d-none">
                <form method="POST" action="{% url 'update_years' username=request.user.username %}">
                    {% csrf_token %}
                    {{ stats_form_year | crispy }}
                    <button id="years-playing-form-submit" class="stats-update-button" type="submit">
                        UPDATE YEARS PLAYING</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h4>FAVOURITE SURFACE</h4>
            <div id="fave-surface-info">
                <p class="large-p">
                    {% if profile.fave_surface %}
                    {{ profile.get_fave_surface_display }}
                    {% else %}
                    No info give
                    {% endif %}
                </p>
                <button id="fave-surface-form-show" class="stats-update-button" type="button">
                    UPDATE FAVOURITE SURFACE</button>
            </div>
            <div id="fave-surface-form-container" class="d-none">
                <form method="POST" action="{% url 'update_surface' username=request.user.username %}">
                    {% csrf_token %}
                    {{ stats_form_surf | crispy }}
                    <button id="fave-surface-form-submit" class="stats-update-button" type="submit">
                        UPDATE FAVOURITE SURFACE</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h4>FAVOURITE SHOT</h4>
            <div id="fave-shot-info">
                <p class="large-p">
                    {% if profile.fave_shot %}
                    {{ profile.get_fave_shot_display }}
                    {% else %}
                    No info give
                    {% endif %}
                </p>
                <button id="fave-shots-form-show" class="stats-update-button" type="button">
                    UPDATE FAVOURITE SHOT</button>
            </div>
            <div id="fave-shot-form-container" class="d-none">
                <form method="POST" action="{% url 'update_shot' username=request.user.username %}">
                    {% csrf_token %}
                    {{ stats_form_shot | crispy }}
                    <button id="fave-shot-form-submit" class="stats-update-button" type="submit">
                        UPDATE FAVOURITE SHOT</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h3>DEFAULT DELIVERY INFORMATION</h3>
        </div>

        <form action="{% url 'user_profile' username=request.user.username %}" method="POST">
            {% csrf_token %}
            <div class="col-12 col-lg-6 offset-lg-3 justify-content-center">
                {{ details_form | crispy }}
            </div>
            <div class="col-12 col-lg-2 offset-lg-3">
                <button type="submit" class="small-button white-text"><strong>UPDATE DETAILS</strong></button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h3>YOUR PREVIOUS ORDERS</h3>
        </div>
        <div class="col-12 col-lg-6">
            <h4>SHOP HUB ORDERS</h4>
        </div>
        <div class="col-12 col-lg-6">
            <h4>BOOK HUB ORDERS</h4>
        </div>
    </div>
</div>
{% endblock %}