{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h1>PAYMENT HAS BEEN RECEIVED</h1>
            <h2>An email confirmation has been sent to {{ shop_order.email }}</h2>
            <hr class="my-4">
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last">
            <h3>ORDER ITEMS</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-header"></th>
                        <th scope="col" class="table-header">INFO</th>
                        <th scope="col" class="table-header">SUB-TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shop_order.lineitems.all %}
                    <tr>
                        <td>
                            <div class="basket-image-container">
                                {% if item.product.image_name %}
                                <img class="checkout-summary-image" alt="{{ item.product.name }}"
                                    src="{% static 'images/products/' %}{{ item.product.image_name }}">
                                {% else %}
                                <img class="checkout-summary-image" alt="{{ item.product.name }}"
                                    src="{% static 'images/no-image.png' %}">
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <h4>{{ item.product.name }}</h4>
                                {% if item.product_size %}
                                <h5>SIZE: {{ item.product_size|upper }}</h5>
                                {% endif %}
                                <p>{{ item.product.category.friendly_name }} | {{ item.product.tag.friendly_name }}</p>
                                <p >Quantity: {{ item.quantity }}</p>
                            </div>
                        </td>
                        <td>
                            <p class="large-p">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <h3>ORDER DETAILS</h3>
            <p class="large-p"><strong>Name: </strong>{{ shop_order.full_name }}</p>
            <p class="large-p"><strong>Street Address: </strong>{{ shop_order.street_address1 }},
                {% if shop_order.street_address2 %}{{ shop_order.street_address2 }}{% endif %}</p>
            <p class="large-p"><strong>Town/City: </strong>{{ shop_order.town_or_city }}</p>
            <p class="large-p"><strong>Postcode: </strong>{{ shop_order.postcode }}</p>
            <p class="large-p"><strong>Country: </strong>{{ shop_order.country }}</p>
            <p class="large-p"><strong>Grand Total: </strong>£{{ shop_order.grand_total }}</p>
            <p class="large-p"><strong>Order Number: </strong>{{ shop_order.order_number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <a href="{% url 'shop' %}" class="white-text small-button"><strong>BACK TO SHOP HUB</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}