/* CSS Variables */
:root {
    --title-font: "Bebas Neue", sans-serif;
    --text-font: "Montserrat", sans-serif;
    --main-colour: #3C638E;
    --secondary-colour: #046A3A;
    --main-highlight: #ccff00;
    --secondary-highlight: #e6a57f;
}

/* General */
body {
    background-color: #F2F3F4;
}

h1,
h2,
h3,
h4,
h4 a,
h5,
.navbar-brand,
#top-of-page a {
    font-family: var(--title-font);
    color: var(--main-colour);
}

p,
form label,
input,
select,
label {
    font-family: var(--text-font);
    color: var(--main-colour) !important;
}

hr {
    color: var(--main-highlight);
    border-width: 4px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--main-colour);
    z-index: -1;
}

.white-text {
    color: white!important;
}

.white-background {
    background-color: white;
}

.bold-text {
    font-weight: bold;
}

.large-p {
    font-size: 1.2rem;
}

.small-p {
    font-size: 0.7rem;
}

.clickable-p {
    cursor: pointer;
    text-decoration: underline;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: right top 0;
}

.big-button-border {
    border: 2px solid var(--secondary-highlight);
    border-radius: 25px;
}

.big-button-border-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 106, 58, 0.7));
}

.big-button-border-background-reverse {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 106, 58, 0.7));
}

.big-button-border-image {
    background-position: center;
    background-size: cover;
}

.big-button-links {
    text-decoration: none;
}

.home-page-button {
    min-height: 200px;
}

.small-button {
    border: 2px solid var(--secondary-colour);
    background-color: var(--secondary-highlight);
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
}

.small-button:hover {
    border: 2px solid var(--secondary-highlight);
    background-color: white;
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
    color: var(--main-colour) !important;
}

.small-button-delete-basket {
    border: 2px solid red;
    background-color: red;
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
    font-size: 0.7rem;
}

.small-button-delete-basket:hover {
    border: 2px solid red;
    background-color: white;
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
    font-size: 0.7rem;
    color: red !important;
}


.quantity-update-button,
.stats-update-button {
    background: none;
    color: var(--main-colour);
    border: none;
    padding: 0;
    font-family: var(--text-font);
    font-size: 0.7rem;
    text-decoration: underline;
    outline: none;
}

.quantity-update-button:focus,
.stats-update-button:focus {
    outline: revert;
}

.small-button-edit-product {
    border: 2px solid orange;
    background-color: orange;
    padding-left: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0.8rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
    font-size: 0.5rem;
}

.small-button-edit-product:hover {
    border: 2px solid orange;
    background-color: white;
    padding-left: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0.8rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
    font-size: 0.5rem;
    color: orange !important;
}

.table-header {
    font-family: var(--title-font);
    color: var(--main-colour) !important;
    font-size: 1.2rem;
    font-weight: normal !important;
}

/* Toasts */
.toast-container {
    top: 100px;
    right: 15px;
}

.toast-header-error,
.toast-header-warning {
    background-color: red;
}

.toast-header-info {
    background-color: var(--secondary-highlight);
}

.toast-header-success {
    background-color: var(--secondary-colour);
}

.toast-body {
    background-color: #F2F4F4;
}

.toast-close-button {
    color: var(--main-colour);
    border: 2px solid var(--secondary-highlight)
}

.basket-image-toast,
.basket-image-container-toast {
    height: 75px;
}

.product_info_toast {
    height: 150px;
}

/* Nav */
nav {
    background-color: white;
}

.nav-logo {
    font-size: 2.5rem;
}

.navbar i {
    color: var(--main-colour);
}

/* Allauth templates */
.allauth-link {
    background: none;
    color: var(--main-colour);
    border: none;
    padding: 0;
    font-family: var(--text-font);
    text-decoration: underline;
    outline: none;
}

.allauth-link:focus {
    outline: revert;
}

#id_password_helptext a {
    color: var(--main-colour);
    font-family: var(--text-font);
}

/* Home App */
.feedback-list {
    list-style-position: inside;
    color: var(--main-colour);
    font-family: var(--text-font);
}



/* Tournament App */
.logo-tour-container {
    height: 200px;
    width: 400px;
}

.logo-tour {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.calendar-size {
    font-size: 3rem;
}

.bracket-header {
    font-family: "Tourney", sans-serif;
    margin: 5px;
}

.round {
    min-width: 400px;
}

.match {
    border: 1px solid var(--secondary-highlight);
    border-radius: 10px;
    margin: 5px;
}


/* Shop App */
.card-title {
    color: var(--main-colour);
}

.product-button {
    border: 1px solid var(--main-highlight);
}

#tag-selector-button {
    position: fixed;
    top: 120px;
    left: 0px;
}

#tag-selector-container {
    min-height: 200px;
    max-height: 250px;
    position: fixed;
    overflow-y: auto;
    top: 153px;
    left: 0px;
    border: 2px solid var(--secondary-colour);
    background-color: var(--secondary-highlight);
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    border-radius: 1px;
}

#tag-selector {
    width: 190px;
}

#tag-selector-update {
    cursor: pointer;
    text-decoration: underline;
}

#top-of-page {
    text-decoration: none;
    color: white;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

#top-of-page.show-button {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.product-detail-links a {
    font-size: 0.8rem;
}

.delivery-notice {
    background-color: var(--secondary-colour);
}

.basket-image {
    max-height: 250px;
}




/* Footer */
footer {
    background-color: white;
}

.social-links a {
    color: var(--main-colour);
}