/* CSS Variables */
:root {
    --title-font: "Bebas Neue", sans-serif;
    --text-font: "Montserrat", sans-serif;
    --main-colour: #3C638E;
    --secondary-colour: #046A3A;
    --main-highlight: #ccff00;
    --secondary-highlight: #e6a57f;
}

/* General */
h1,
h2,
h3,
h4,
h4 a,
h5,
.navbar-brand,
#top-of-page a {
    font-family: var(--title-font);
    color: var(--main-colour);
}

p {
    font-family: var(--text-font);
    color: var(--main-colour);
}

hr {
    color: var(--main-highlight);
    border-width: 4px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--main-colour);
    z-index: -1;
}

.white-text {
    color: white;
}

.white-background {
    background-color: white;
}

.bold-text {
    font-weight: bold;
}

.large-p {
    font-size: 1.2rem;
}

.small-p {
    font-size: 0.7rem;
}

.big-button-border {
    border: 2px solid var(--secondary-highlight);
    border-radius: 25px;
}

.big-button-border-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 106, 58, 0.7));
}

.big-button-border-background-reverse {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 106, 58, 0.7));
}

.big-button-border-image {
        background-position: center;
        background-size: cover;
}

.big-button-links {
    text-decoration: none;
}

.home-page-button {
    min-height:200px;
}

.small-button {
    border: 2px solid var(--secondary-colour);
    background-color: var(--secondary-highlight);
    padding-left: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 1px;
    font-family: var(--text-font);
}


/* Nav */
nav {
    background-color: #F2F4F4;
}

.nav-logo {
    font-size: 2.5rem;
}


/* Home App */
.feedback-list {
    list-style-position: inside;
    color: var(--main-colour);
    font-family: var(--text-font);
}



/* Tournament App */
.logo-tour-container {
    height: 200px;
    width: 400px;
}

.logo-tour {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.calendar-size {
    font-size: 3rem;
}

.bracket-header {
    font-family: "Tourney", sans-serif;
    margin:5px;
}

.round {
    min-width: 400px;
}

.match {
    border: 1px solid var(--secondary-highlight);
     border-radius: 10px;
     margin:5px;
}


/* Shop App */
.card-title{
    color: var(--main-colour);
}

.product-button {
    border: 1px solid var(--main-highlight);
}

#top-of-page {
    text-decoration: none;
    color: white;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

#top-of-page.show-button {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}


/* Footer */
footer {
    background-color: #F2F4F4;
}

.social-links a {
    color: var(--main-colour);
}