{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_js %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block extra_title %}Basket{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h1>YOUR BASKET</h1>
        </div>
        <div class="col-12">
            <h2>SEE WHAT ITEMS ARE IN YOUR BASKET!</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if basket_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-header"></th>
                        <th scope="col" class="table-header">ITEM</th>
                        <th scope="col" class="table-header">PRICE</th>
                        <th scope="col" class="table-header">QUANTITY</th>
                        <th scope="col" class="table-header">SUB-TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in basket_items %}
                    <tr>
                        <td>
                            {% if prod.product.image_name %}
                            <div class="basket-image-container">
                                <img class="basket-image" alt="{{ prod.product.name }}"
                                    src="{% static 'images/products/' %}{{ prod.product.image_name }}">
                                {% else %}
                                <img class="basket-image" alt="{{ prod.product.name }}"
                                    src="{% static 'images/no-image.png' %}">
                                {% endif %}
                            </div>
                            <div class="delete-basket-item-button-container my-2">
                                <a href="#" class="white-text small-button-delete-basket text-center ">
                                    <strong>REMOVE ITEM</strong></a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <h3>{{ prod.product.name }}</h3>
                                {% if prod.size %}
                                <h4>SIZE: {{ prod.size|upper }}</h4>
                                {% endif %}
                                <p>{{ prod.product.category.friendly_name }} | {{ prod.product.tag.friendly_name }}</p>
                                <p class="small-p">{{ prod.product.sku }}</p>
                            </div>
                        </td>
                        <td>
                            <p class="large-p">£{{ prod.product.price }}</p>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <p class="large-p">{{ prod.quantity }}</p>
                            </div>
                        </td>
                        <td>
                            <p class="large-p">£{{ prod.product.price | calc_subtotal:prod.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <h4>BASKET TOTAL:</h4>
                            <h4>DELIVERY COST:
                            </h4>
                        </td>
                        <td>
                            <h4>£{{ total }}</h4>
                            <h4>{% if delivery %}
                                £{{ delivery }}
                                {% else %}
                                FREE DELIVERY
                                {% endif %}
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <h3>GRAND TOTAL:</h3>
                        </td>
                        <td>
                            <h3>£{{ grand_total }}</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <div class="col-12 justify-content-center text-center">
                <h3>EMPTY BASKET</h3>
                <p>You've not added anything to your basket yet! Check out the rest of our SHOP hub to find some gear.
                </p>
            </div>
            <div class="col-12 col-lg-2 offset-lg-3">
                <a href="{% url 'shop' %}" class="white-text small-button text-center"><strong>BACK TO ALL
                        PRODUCTS</strong></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}