{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container pt-4 mb-4">
    <div class="row">
        <div class="col-12 col-md-6">
            {% if product.image_name %}
            <img class="card-img-top" alt="{{ product.name }}"
                src="{% static 'images/products/' %}{{ product.image_name }}">
            {% else %}
            <img class="card-img-top" alt="{{ product.name }}" src="{% static 'images/no-image.png' %}">
            {% endif %}
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column">
                <h1>{{ product.name }}</h1>
                <h2>£{{ product.price }}</h2>
                <div class="d-none d-md-block">
                    <p>{{ product.category.friendly_name }} | {{ product.tag.friendly_name }}</p>
                </div>
                <div class="d-md-none">
                    <p>
                        {{ product.category.friendly_name }}
                        <br>
                        {{ product.tag.friendly_name }}
                    </p>
                </div>
                {% if product.rating %}
                {{ product.rating }}/5.00
                {% else %}
                <p class="small-p">No rating</p>
                {% endif %}
                <h3>DESCRIPTION</h3>
                <p>{{ product.description }}</p>
                <form action="#" method="POST" id="add-to-bag">
                    {% csrf_token %}
                    {% if product.has_sizes %}
                    <div class="mb-2">
                        <p class="small-p"><strong>Size {% if product.tag.name == "shoes" %}
                                - all sizes in UK {% endif %}</strong></p>
                        <select id="choose-size" class="form-select" aria-label="Size options selector">
                            {% if product.tag.name == "shoes" %}
                            <option value="2">2</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4</option>
                            <option value="4.5">4.5</option>
                            <option value="5">5</option>
                            <option value="5.5">5.5</option>
                            <option value="6">6</option>
                            <option value="6.5">6.5</option>
                            <option value="7">7</option>
                            <option value="7.5">7.5</option>
                            <option value="8 selected">8</option>
                            <option value="8.5 selected">8.5</option>
                            <option value="9">9</option>
                            <option value="9.5">9.5</option>
                            <option value="10">10</option>
                            <option value="10.5">10.5</option>
                            <option value="11">11</option>
                            <option value="11.5">11.5</option>
                            <option value="12">12</option>
                            <option value="12.5">12.5</option>
                            <option value="13">13</option>
                            <option value="13.5">13.5</option>
                            {% else %}
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            {% endif %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="d-flex flex-column product-detail-links">
                        <button type="submit" class="small-button white-text w-50 mb-4 text-center"><strong>ADD TO
                                BAG</strong></button>
                        <a href="{% url 'shop' %}" class="white-text small-button w-50 text-center"><strong>BACK TO ALL
                                PRODUCTS</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12 justify-content-center text-center">
            <h3>REVIEWS</h3>
            <p>Have your say on the product and let future users know your thoughts!</p>
        </div>
        {% if user.is_authenticated %}
        {% if user_review %}
        <div class="col-12">
            <h4>YOUR REVIEW FOR {{ product.name }}</h4>
            <p>{{ user_review.review }}</p>
            <p class="small-p">{{ user_review.rating }}</p>
            <button id="edit-product-review-rating-button" class="small-button white-text w-50 mb-4">
                <strong>EDIT REVIEW {% if user_review.rating %}OR RATING {% else %}
                    OR ADD RATING{% endif %}</strong></button>
        </div>
        {% else %}
        <div class="col-12 justify-content-center">
            <h4>ADD YOUR REVIEW FOR {{ product.name }}</h4>
        </div>
        <div>
            <form id="user_review_product_form" method="POST" action="#">
                {% csrf_token %}
                <div class="col-12 col-md-4 order-md-1">
                    {{ review_form.rating | as_crispy_field }}
                </div>
                <div class="col-12 col-md-8">
                    {{ review_form.review | as_crispy_field }}
                </div>
                <button type="submit" class="small-button white-text w-50 mb-4 text-center"><strong>ADD
                        REVIEW</strong></button>
            </form>
        </div>
        {% endif %}
        {% else %}
        <div class="text-center col-12">
            <h4>LOGIN OR REGISTER TO SUBMIT YOUR REVIEW FOR {{ product.name }}</h4>
        </div>
        <div class="col-6 col-lg-3 offset-lg-3 justify-content-end d-flex">
            <a id="login-product-page" class="small-button white-text mb-4 text-center" href="#">
                <strong>LOGIN</strong></a>
        </div>
        <div class="col-6 col-lg-3 justify-content-start d-flex">
            <a id="login-product-page" class="small-button white-text mb-4 text-center" href="#">
                <strong>REGISTER</strong></a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if reviews %}
        {% for rev in reviews %}
        <div class="col-12">
            <h5>{{ rev.user }}</h5>
            <p>{{ rev.review }}</p>
            <p class="small-p">{% if rev.rating %}{{ rev.rating }}{% else %}No rating{% endif %}</p>
            {% if not forloop.last %}
            <hr>{% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
            <h5 class="mt-4">NO REVIEWS YET - BE THE FIRST TO GIVE ONE!</h5>
        </div>  
        {% endif %}
    </div>
</div>


{% endblock %}