{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load allauth account %}

{% block extra_title %}Reset Password Confirmation{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>CHANGE PASSWORD</h1>
        </div>
        <div class="col-12">
            {% if token_fail %}
            <p>Unfortunately, the password reset link failed. Please request a new <a
                    href="{% url 'account_reset_password' %}" class="allauth-link">password reset link here</a>.</p>
            {% else %}
            <p>Reset your password below.</p>
        </div>
        <div class="col-12">
            <form action="{{ action_url }}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex">
                    <button class="small-button white-text me-2"><strong>RESET MY PASSWORD</strong></button>
                    <a class="small-button white-text" href="{% url 'home' %}"><strong>BACK TO HOME</strong></a>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}