{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>SIGN UP</h1>
        </div>
        <div class="col-12">
            <p>Sign up below to track your orders and bookings, give your reviews on the SHOP hub, and leave comments on the NEWS hub.</p>
            <p>If you already have an account, <a href="{% url 'account_login' %}" class="allauth-link">login here</a>.</p>
        </div>
        <div class="col-12 mb-4">
            <form action="{% url 'account_signup' %}" method="POST">
                {% csrf_token %}
                 {{ form|crispy }}
                <div class="d-flex">
                    <button class="small-button white-text me-2"><strong>SIGN UP</strong></button>
                    <a class="small-button white-text" href="{% url 'home' %}"><strong>BACK TO HOME</strong></a>                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

