{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load allauth account %}

{% block extra_title %}Verify your email address{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>EMAIL VERIFICATION SENT</h1>
        </div>
        <div class="col-12">
            <p>We've sent an email to your provided email address. Just follow the links to finish the sign up process!
            </p>
            <p>If If you don't see the email, please check your spam</p>
            <a class="small-button white-text" href="{% url 'home' %}"><strong>BACK TO HOME</strong></a>
        </div>
    </div>
</div>
{% endblock %}