{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/book.js' %}"></script>
{% endblock %}

{% block extra_title %}{{ court.name }}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="text-center w-100 delivery-notice py-2 mb-4 white-text">
    <h3 class="mb-0 white-text">
        Courts are only available to book if you are based in the UK!
    </h3>
</div>
<div class="container pt-4">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="white-text"><strong>GAME</strong> <i>SET</i> BOOK</h1>
        </div>
        <div class="col-12">
            <h2 class="white-text">Book your time on {{ court.name }}</h2>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
            <p class="white-text">Go through each of the steps below to finalise your booking for {{ court.name }} at
                {{ court.location.name }}</p>
        </div>
    </div>
</div>
<div class="container my-4" id="step-1-2-container">
    <div class="row">
        <div class="col-12 col-lg-6" id="step-1-container">
            <h3 class="step-header-text white-text">STEP 1 - DATE</h3>
            <div id="step-1-date-input-container">
                <input type="hidden" id="step-1-date-input-hidden" placeholder="Pick a date below" data-id="altinput">
            </div>
            <h4 id="date-chosen-field" class=" white-text d-none mt-4"></h4>
            <button id="go-to-step-2" class="small-button white-text mt-4 d-none"><strong>GO TO STEP 2</strong></button>
            <button id="change-date-picker" class="small-button white-text mt-4 d-none"><strong>CHANGE
                    DATE</strong></button>
        </div>
        <div class="col-12 col-lg-6 d-none" id="step-2-container">
            <h3 class="step-header-text white-text">STEP 2 - TIME</h3>
            {% for day, slots in final_slots.items %}
            <div id="{{ day }}" class="d-none time-slot-dat-container">
                <h4 class="white-text">{{ day | capfirst }}</h4>
                <div class="time-slot-grid">
                    {% for slot in slots %}
                    <button class="time-slot-button-not-selected time-slot-button">{{ slot }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <h4 id="time-chosen-field" class=" white-text d-none mt-4"></h4>
            <button id="go-to-step-3" class="small-button white-text mt-4 d-none"><strong>GO TO STEP 3</strong></button>
            <button id="change-time-picker" class="small-button white-text mt-4 d-none"><strong>CHANGE
                    TIME</strong></button>
        </div>
    </div>
</div>
<div class="container d-none mb-4" id="step-3-container" data-coach-1-slots="{{ coach_1_slots_json }}"
    data-coach-2-slots="{{ coach_2_slots_json }}">
    <div class="row">
        <div class="col-12">
            <h3 class="step-header-text white-text">STEP 3 - COACH</h3>
        </div>
        <div id="no-coaches-available-container" class="d-none">
            <div id="no-coaches-available" class="col-12">                
                <h4 class="white-text">No coaches at that time</h4>
                <p id="step-3-coach-no-time" class="white-text">Unfortunately, there are no coaches available to hire
                    during
                    that time. Here are the two coaches for this court, and when they are available:</p>
                <p id="step-3-coach-already-booked" class="white-text d-none">Unfortunately, the available coaches are
                    booked
                    during this time. Here are the two coaches for this court, and when they are available:</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="d-flex flex-column h-100">
                        <div class="pb-2">
                            <img src="{% static 'images/coaches/' %}{{ coach_1.slug }}.webp" alt="{{ coach_1.name }}"
                                class="coach-image-container">
                        </div>
                        <h3 class="white-text">{{ coach_1.name }} ({{ coach_1.nickname }})</h3>
                        <p class="white-text">{{ coach_1.specialty }}</p>
                        <br>
                        <div class="mt-auto">
                            <p class="white-text">
                                {% for time in coach_1.shift_times %}
                                {{ time }}
                                <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-flex flex-column h-100">
                        <div class="pb-2">
                            <img src="{% static 'images/coaches/' %}{{ coach_2.slug }}.webp" alt="{{ coach_2.name }}"
                                class="coach-image-container">
                        </div>
                        <h3 class="white-text">{{ coach_2.name }} ({{ coach_2.nickname }})</h3>
                        <p class="white-text">{{ coach_2.specialty }}</p>
                        <br>
                        <div class="mt-auto">
                            <p class="white-text">
                                {% for time in coach_2.shift_times %}
                                {{ time }}
                                <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-none" id="coach-1-available">
            <h4 class="white-text">Coach Available - £75 extra</h4>
            <div class="d-flex flex-column h-100">
                <div class="pb-2">
                    <img src="{% static 'images/coaches/' %}{{ coach_1.slug }}.webp" alt="{{ coach_1.name }}"
                        class="coach-image-container">
                </div>
                <h3 class="white-text">{{ coach_1.name }} ({{ coach_1.nickname }})</h3>
                <p class="white-text">{{ coach_1.specialty }}</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-none" id="coach-2-available">
            <h4 class="white-text">Coach Available - £75 extra</h4>
            <div class="d-flex flex-column h-100">
                <div class="pb-2">
                    <img src="{% static 'images/coaches/' %}{{ coach_2.slug }}.webp" alt="{{ coach_2.name }}"
                        class="coach-image-container">
                </div>
                <h3 class="white-text">{{ coach_2.name }} ({{ coach_2.nickname }})</h3>
                <p class="white-text">{{ coach_2.specialty }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-4" id="booking-summary-container">
    <div class="row">
        <div class="col-12">
            <h3 class="step-header-text white-text">BOOKING SUMMARY</h3>
        </div>
    </div>
</div>
{% endblock %}