<div class="toast-container" id="toast">
    <div id="liveToast" class="toast" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header-info">
            <div class="d-flex justify-content-between">
                <div class="ms-3 my-2">
                    <h5 class="white-text mb-0">INFO</h5>
                </div>
                <div class="my-2 me-3">
                    <button type="button" class="toast-close-button ms-auto" data-bs-dismiss="toast"
                        aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </div>
        <div class="toast-body">
            <p>{{ message }}</p>
        </div>
    </div>
</div>